body {
      font-family: 'Poppins', sans-serif;
      color: #b30062;
    }

    .lead{
        color: #000000;
    }

    .brand-color {
      color: #b30062;
    }

    .bg-primary-brand {
      background-color: #b30062;
    }

    .btn-brand {
      background-color: #0056b3;
      color: #fff;
      transition: background-color 0.3s ease;
    }

    .btn-brand:hover {
      background-color: #000000;
    }

    .card:hover {
      transform: scale(1.03);
      transition: transform 0.3s ease;
    }